/* .f-content */
.f-content {
    .yui-nav--simple .yui-nav_item_inner {
        background: $bg-color;
    }

    .f-topics_item {
        color: $font-color;
    }

    /* Style for rating page */
    .f-rating .f-topics_item {
        background-color: $bg-color;
    }

    .f-rating .f-topics_item.f-topics_item--even {
        background-color: $accent-color--dark;
    }

    .f-topics_header {
        background: inherit
    }

    .f-topics .f-topics_item--even {
        background-color: $bg-color
    }

    .f-topics .f-topics_item--odd {
        background-color: lighten($color: $bg-color, $amount: 5)
    }

    .f-topics_item--even .f-topic_author:after,
    .f-topics_item--even .f-topic_title:after {
        background-image: none !important;
    }

    .f-topics,
    .f-topic--expanded {
        border: $border !important;
    }

    .f-topics_header {
        color: $font-color !important
    }

    .f-topic_gradient {
        background: none;
    }

    .f-topic_title {
        background: none !important;
        background-image: none !important;
    }

    .f-topic_title:after,
    .f-topic_author:after {
        background: none !important;
    }

    .f-topic_title a:visited {
        color: $accent-color--light;
    }

    .f-topic--expanded {
        background-color: $bg-color !important;
    }

    .f-topic_author_name--verified,
    .f-topic_author_name--veter {
        color: inherit;
    }

    .f-topic_author_name--moder,
    .f-topic_author_name--admin {
        color: $accent-color;
    }
}

/* .f-sidebar */
.f-sidebar {
    .f-userpanel {
        border: $border !important;
        color: $font-color;
        background-color: $bg-color !important;
    }

    .f-userpanel .f-userpanel_rank-text>a {
        color: $font-color;
    }

    .f-userpanel_achievements_item,
    .f-userpanel_achievements_more {
        border: $border;
    }

    .f-userpanel_user-info,
    .f-userpanel_rating {
        border: $border;
    }

    .f-userpanel_info {
        background: $accent-color--dark;
        color: $font-color;
        border: $border;

        .f-userpanel_info_title {
            color: $font-color;
        }
    }

    .f-widget_user_rate {
        color: $accent-color--light
    }

    .yui-block * {
        background: inherit;
        border: $border;
    }

    .yui-block_header a {
        color: $font-color;

        &:hover {
            color: $font-color;
        }
    }

    .f-widget--users .f-widget_user.active {
        background: $accent-color--dark;
    }

    .achievements-info>* {
        color: $font-color--reverse;
    }

    .f-achievements {
        background-color: $accent-color--dark;
    }

    .f-userpanel_achievements_more {
        color: $font-color;
    }
}